#include <behaviors.dtsi>
#include <behaviors/num_word.dtsi> // Requires auto-layer module.
#include <dt-bindings/zmk/keys.h>
// #ifdef CONFIG_WIRELESS
  #include <dt-bindings/zmk/bt.h>
  #include <dt-bindings/zmk/outputs.h>
  #define _BT_SEL_KEYS_                                                        \
      &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_CLR
// #else
//   #define _BT_SEL_KEYS_ &trans &trans &trans &trans &trans
// #endif

// #include "zmk-helpers/unicode-chars/greek.dtsi"
// #include "zmk-helpers/unicode-chars/german.dtsi"

#define Alpha 0
#define Alpha2 1
#define NAV 2
#define SYM 3
#define FN 4
#define NUM 5
#define SYS 6 
#define MOUSE 7
#define DEFs DEF DEF2

#define XXX &none
#define ___ &trans

/* Keymap */

#ifndef ZMK_BASE_LAYER
  #define ZMK_BASE_LAYER(name, LT, RT, LM, RM, LB, RB, LH, RH)                 \
      ZMK_LAYER(name, LT RT LM RM LB RB LH RH)
#endif
#include "zmk-helpers/helper.h"


#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30

#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50
#define XXX &none
#define ___ &trans

// ZMK_COMBO(P,   &kp P, 0 1, 0, 0, 0)
// ZMK_COMBO(V,   &kp V, LMP LMI, Alpha1 Alpha2, COMBO_TERM_FAST, COMBO_IDLE_FAST)

// combo rules:
// C + N = P sfb: 0.009% sfs: 0.448%
// S + C = V sfb: 0.010% sfs: 0.324%

// s t n c      r a i e
// ~ d h ~      ~ o u ~
//       y      l

// f k b g      q ' , ;
// ~ m x ~      ~ ~ . ~
//       w      j 
ZMK_BASE_LAYER(0,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    ___           ___           ___           ___           ___         ,   ___           &kp BSPC      &kp TAB           ___           ___     ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp S         &kp T         &kp N         &kp C         ___         ,   ___           &kp R         &kp A         &kp I         &kp E       ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           &kp D         &kp H         ___           ___         ,   ___           ___           &kp O         &kp U         ___         ,
//╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴───────────────────────────╯
                                              &kp y           &sl 1      ,  &kp SPACE    &kp L
//                                          ╰─────────────┴─────────────╯ ╰─────────────┴─────────────╯
)

// f k b g      q ' , ;
// ~ m x ~      ~ ~ . ~
//       w      j   
ZMK_BASE_LAYER(Alpha2,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    ___           ___           ___           ___           ___         ,   ___           ___           ___           ___           ___         ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp F         &kp K         &kp B         &kp G         ___         ,   ___           &kp Q         &kp Z         &kp DOT       &kp J       ,
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    ___           &kp M         &kp X         ___           ___         ,   ___           &kp K         &kp Q         &kp COMMA     ___         ,
//╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴───────────────────────────╯
                                              &kp W         ___           , ___           &kp J
//                                          ╰─────────────┴─────────────╯ ╰─────────────┴─────────────╯
)

/* vim: set ft=c tw=146: */